.input{
height: 2em;
width:30em;
}
h2{
    font-weight: bold;
    color: rgb(0,23,31);
}
.btn3{
    height:2.5em;
    width:18.5em;
    background-color: rgb(2,48,71);
    border-color:rgb(2,48,71) ;
    color: white;
    align-items: center;
    cursor: pointer;
}

.subtitle{
    margin-top: -1rem;
    font-size: 0.7rem;
    color: rgb(139,148,151);
}
.chkbx{
    margin-left: auto;
}
.fgtcredentials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.8rem;
}
.fgtpass{
    font-size: 0.6rem;
color: rgb(147,149,153);
margin-top: 0.4rem;
cursor: pointer;
}
.error{
    font-size: 0.5rem;
    color: red;
    
}
.emailerror{
    font-size: 0.5rem;
    color: red;
}
.success{
    font-size: 0.6rem;
    color: green;
    
}
.token{
    font-size: 0.6rem;
    color: rgba(165, 42, 42, 0.801);
    
}
@media (orientation: portrait) {
    h2{
        font-size: 1.2em;
        font-weight: bold;
        color: rgb(0,23,31);
      display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .input{
        height: 2em;
        width:16em;
        }
       
        .btn3{
            height:2.5em;
            width:18.6em;
            background-color: rgb(2,48,71);
            border-color:rgb(2,48,71) ;
            color: white;
            align-items: center;
            cursor: pointer;
        }  
}